/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
html {
  font-size: 1.125em; /* 18 / 16 = 1.125em */
  line-height: 1.222em; /* 22 / 18 = 1.222em */
  font-family: 'Alegreya SC', serif; /* chose font to have a LOTR feeling*/
  background-color: #404040;
  color: #e27e36
}

h1 {
  font-size: 4em; /* 40.5 / 18 = 2.25 */
  line-height: 1.0864em; /* 44 / 40.5 = 1.0864 */
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
h2 {
  font-size: 1.5em; /* 27 / 18 = 1.5 */
  line-height: 1.222em; /* 33 / 27 = 1.222 */
  text-align: center;
  padding-bottom: 0.005em;
  padding-left: 1em;
}
form{
  margin: 2em;
  width: 26.667em;
}
input {
  font-size: 0.625em;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  line-height: 1.5em;
  padding: 0.813em;
  background: #DDD;

}

label {
  margin-bottom: 1.5em;

}

figure {
  text-align: right;
  margin-right: 2em;
  margin-top: 0.05em;
}
img{
  display: right;
  max-width: 100%
  margin: auto;
}

figcaption {
  font-size: 0.75em; /* 15.004/20  */
  line-height: 1.3329em;
  padding-top: 0.3332em;
  padding-bottom: 0.3332em;
}
footer{
  padding-bottom: 2em;
}

input [type="text"]{
  display: block;
  margin-bottom: 1.5em;
  margin-top: 2em;
  width: 100%;
  border: 0.167em, solid black;

}
button{
margin-top: 1em;
  margin-bottom: 1.5em;
  width: 30%;
  border: 0.167em, solid black;
}

/* Layout Styles */
#content {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em

}
/* Modular Styles */

/* State Styles */
@media screen and (min-width: 600px) {
  main {
    max-width: 65%;
  }
}

@media screen and (min-width: 800px) {
  main {
    max-width: 55%;
  }
}

@media screen and (min-width: 1000px) {
  main {
    max-width: 63%;
    overflow: hidden;
}
}
@media screen and (min-width: 1300px) {
  main {
    max-width: 50%;
  }
}

@media screen and (min-width: 1600px) {
  main {
    max-width: 45%;
  }
}
